@import url('https://fonts.googleapis.com/css?family=Oswald');
page-signup {
	.bg {
		height: 100%;
		width: 100%;
		background: linear-gradient(160deg, #a90329 30%,#8f0222 50%,#6d0019 70%);
	}

	.header {
		position: absolute;
		display: block;
		color: #FFF;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	.header h1 {
		font-size: 7vh !important; 
		font-size: lighter !important;
		font-family: 'Oswald', cursive; 
	}
	.inputs {
		position: absolute;
		display: block;
		top: 58%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		color: #fff;
	}

	ion-item {
		background: transparent!important;
		border: 1px solid  #fff!important;
		ion-input{
			color: #fff;
		}
		ion-input placeholder{
			color: #fff;
		}
		ion-label{
			color: #fff!important;
		}
		.item-inner{
			border: 0!important;
		}
	}
	button{
		position:absolute; 
		display:block;
		top:50%;
		background: #0072ff!important;
		box-shadow:0px;
		color:#fff!important; 
	}
}
